body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 15px;
    margin: 0;

}

.profile-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-top,
.card-bottom {
    background-color: white;
    width: 320px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.name {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.part {
    color: rgb(80, 177, 96);
    font-weight: bold;

}

.intro {
    background-color: bisque;
    padding: 15px;
    border-radius: 10px;
}

.intro2{
    margin-top: 5px;
    line-height:  1.5;
}

h4,p,ul {
    margin: 0;
}

.contact-group {
    display: flex;
    gap: 8px;
    flex-direction: column;

}

ul {
    display:flex ;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px
}